@charset "UTF-8";

@font-face {
    font-family: 'lato';
    src: url(../fontes/Lato/Lato-Light.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    font-family: 'lato';
}

body {
    background-color: #f4f4f4;
}

header {
    background-color: #dddddd;
    min-height: 10vh;
}
header ul {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 20px;
    padding: 20px;
}
header ul a {
    background-color: #adadad;
    padding: 8px;
    color: black;
    font-weight: 600;
}

.filme {
    display: flex;
    justify-content: center;
    align-items: center;

    background: no-repeat top center fixed;
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
}

.descricao {
    background-color: #ffffff71;
    font-size: 1.2em;
    backdrop-filter: blur(.2em);
    padding: 20px;
    border-radius: 10px;
}