@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
    transition: width 1s, heigth 1s, all 1s;
    transition-timing-function: ease;
}

body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
    position: relative;
}

main{
    background: url(../imagens/wallpaper01.jpg) center top no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 0, 0.345);
    position: absolute;
    border-radius: 16px;
    width: 270px;
    height: 541px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    background-color: white;
    height: 335px;
    margin-top: 76%;
}

section > h1{
    text-align: center;
    padding-top: 5px;
}

section > p{
    text-align: justify;
    padding: 8px;
}

section > form > div{
    background-color: #5f2c82;  
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 5px 10px;
    text-align: center;
}

div#log{
    background-color: #49a09d;
    border: 0.5px solid white;
}
div#log:hover{
    background-color: #49a09dc3;
}
div#esq{
    background-color: white;
}

label{
    color: white;
    font-weight: bold;
    cursor: pointer;
}
input.campo:focus-within{
    background-color: #66f5f0b1;
}
i{
    font-style: normal;
    font-size: 1.3em;
}
input{
    font-size: 1em;
    border: none;
    border-radius: 4px;
    width: 86%;
    height: 98%;
    float: right;
}
input.botao{
    background-color: transparent;
    color: white;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

a#esq{
    display: inline-block;
    text-decoration: none;
    padding-top: 7px;
    color: black;
    width: 100%;
    height: 100%;
}
a:hover{
    background-color: rgba(249, 234, 205, 0.671);
}

footer{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-align: center;
    font-size: 0.9em;
}
footer a{
    font-weight: bolder;
    color: white;
    text-decoration: none;
}