@charset "UTF-8";

/*
    -> IMPORTAÇÃO DAS LETRAS
*/
@font-face {
    font-family: 'lato-light';
    src: url(Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'lato-bold';
    src: url(Lato/Lato-Regular.ttf);
}

/*
    -> DECLARAÇÃO DE VARIAVEIS
*/
:root {
    --cor1: #bc7961;

    --corCinza0: #f4f4f4;
    --corCinza1: #ebebea;
    --corCinza2: #e4e4e3;
    --corCinza3: #b8b8b7;

    --corPendente: #e08f2c;
    --corTarefaPendente: #f9e9d5;
    --corTextoPendente: #5d2222;

    --corExecucao: #ea8d89;
    --corTarefaExecucao: #fbe8e7;
    --corTextoExecucao: #e7ea8a;

    --corConcluido: #223f5c;
    --corTarefaConcluido: #d3d9de;
    --corTextoConcluido: #5d4022;
}

/*
    -> RESET DE TOCAS AS CAIXAS
*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*
    -> CONFIGURAÇÃO DO CORPO DO SYTE
*/
body, html {
    background-color: var(--corCinza2);
    font-family: 'lato-light';
    height: 100vh;

    overflow-x: hidden;
}
button {
    background: none;
    box-shadow: 0px 0px 9px 1px #dddddd48;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/*
    -> CONFIGURAÇÃO DO CABEÇALHO
*/
header {
    background-color: var(--corCinza3);
    color: #49030c;
    font-family: 'lato-bold';
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    -> CONFIGURAÇÃO DO CONTEUDO PRINCIPAL
*/
main {
    margin-top: 50px;
}

/*
    -> CONFIGURAÇÃO DO PAINEL ONDE ESTÃO AS AREAS DE TAREFAS
*/
.painel-de-tarefas{
    background-color: var(--corCinza0);
    box-shadow: 0px 0px 9px 1px var(--corCinza0);
    border-radius: 10px;
    width: 90vw;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 10px;
}

/*
    -> CONFIGURAÇÃO DA ÁREA ONDE FICAM AS TAREFAS
*/
.painel{
    flex: 1 0 200px;
    border-radius: 10px;
    border: 1px dashed var(--corCinza1);
    padding: 2px;
}
/*
    -> CONFIGURAÇÃO GERAL DO CABEÇALHO DA ÁREA
*/
.painel-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px;
    border-radius: 10px;

    margin-bottom: 25px;
}

/*
    -> CONFIGURAÇÃO DE CADA CABEÇALHO DE ACORDO AO NIVEL
*/
#pendente .painel-cabecalho{
    background-color: var(--corPendente);
    color: var(--corTextoPendente);
}
#em-execucao .painel-cabecalho{
    background-color: var(--corExecucao);
    color: var(--corTextoExecucao);
}
#concluido .painel-cabecalho{
    background-color: var(--corConcluido);
    color: var(--corTextoConcluido);
}

/*
    -> CONFIGURAÇÃO DO BOTÃO DE ADICIONAR TAREFA
*/
.btn-plus {
    background-color: var(--corCinza0);
    height: 30px;
    width: 30px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.linha {
    background: var(--corCinza3);
    display: inline-block;
    height: 2px;
    width: 40%;
    border-radius: 10px;
}
.linha:nth-child(2) {
    transform: rotate(90deg);
}

/*
    -> CONFIGURAÇÃO DA ZONA DE TAREFAS
*/
.painel-tarefa {
    background-color: #f8f8f8;
    min-height: 80px;
    border-radius: 4px;
    padding: 4px 0px 8px 0px;
    margin: 0px 4px;
}

/*
    -> CONFIGURAÇÃO DAS TAREFAS
*/
.tarefa {
    margin: 10px 5px;
    padding: 8px;
    border-radius: 8px;
    cursor: grab;

    display: grid;
    grid-template-columns: 1fr .1fr;
    justify-content: space-between;
}
.tarefa-descricao p{
    margin-left: 5px;
}
.tarefa-area-de-acao {
    display: grid;
    justify-content: flex-end;
}
.tarefa-area-de-acao button {
    background-color: #fafafa23;
    width: 30px;
    height: 30px;
}
.btn-eliminar-tarefa{
    background: url(ic-delete.png) center center;
    background-size: cover;
}
.btn-redimensionar-tarefa {
    background: url(ic-setting.png) center center;
    background-size: cover;
}

/*
    -> CONFIGURAÇÃO DAS TAREFAS DE ACORDO AO PAINEL EM QUE SE ENCONTRAM
*/
#pendente .tarefa {
    background-color: var(--corTarefaPendente);
    color: var(--corTextoPendente);
}
#em-execucao .tarefa {
    background-color: var(--corTarefaExecucao);
    color: var(--corTextoExecucao);
}
#concluido .tarefa {
    background-color: var(--corTarefaConcluido);
    color: var(--corTextoConcluido);
}

/*
    -> CONFIGURAÇÃO DE QUANDO UMA TAREFA FOR ARRASTADA
*/
.tarefaArrastavel {
    opacity: .4;
}

/*
    -> CONFIGURAÇÃO DA TELA EXIBIDA QUANDO DESEJAMOS ADICIONAR UMA NOVA TAREFA
*/
.tela-add-tarefa{
    background-color: #00000054;
    color: #000000;
    position: absolute;
    height: 100vh;
    width: 100%;

    transition: .8s;

    display: flex;
    justify-content: center;
    align-items: center;  
    flex-flow: column;
    gap: 10px;

    transform: translateY(-100vh);
    opacity: 0.6;
    z-index: -1;
}

/*
    -> CONFIGURAÇÃO DA TELA EXIBIDA QUANDO DESEJAMOS ADICIONAR UMA NOVA TAREFA VISIVEL
*/
.tela-tarefa-visivel {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}

.close-tela {
    height: 40px;
    width: 40px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.btn-linha {
    background: #ff0000;
    display: inline-block;
    height: 1px;
    width: 90%;
    border-radius: 10px;
    transform-origin: center;
}
.btn-linha:nth-child(1) {
    transform: rotate(-45deg);
}
.btn-linha:nth-child(2) {
    transform: rotate(45deg);
}

/*
    -> CONFIGURAÇÃO DA FORMULÁRIO DE ADICIONAR UMA TAREFA
*/
.formularioAddTarefa {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 8px;

    background-color: whitesmoke;
    padding: 25px;
    border-radius: 10px;
}

label {
    text-indent: 15px;
}
input, textarea, #btnSubmit {
    border: none;
    outline: none;

    min-width: 250px;
    max-height: 50px;
    padding: 6px;
    font-size: 1em;
    border-radius: 8px;
}

input:focus, textarea:focus {
    border-bottom: 2px solid var(--corPendente);
    box-shadow: 1px 3px 1px var(--corTarefaPendente);
}

#btnSubmit {
    background-color: var(--corExecucao);
    margin-top: 16px;
    cursor: pointer;
}