@charset "UTF-8";

body{
    background-image: linear-gradient(to right, rgb(202, 255, 201), rgba(162, 162, 249, 0.599));
    font-family: Arial, Helvetica, sans-serif;
}

h1{
   color: rgb(203, 144, 68);
}

h1#principal{
    text-align: center;
    color: black;
}

h2{
    color: rgb(253, 184, 127);
 }

 p{
    text-align: justify;
}